.container {
  width: 100%;
  grid-row: 3 / 4;
  display: flex;
  gap: 16px;
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-error);
}

.btn:hover {
  background-color: var(--color-error-dark);
}

@media (min-width: 992px) {
  .container {
    grid-column: 2 / 3;
    max-width: 480px;
  }
}
